article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
i {
  width: 30px;
}
/* #mainNav {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: none;
  background-color: transparent !important;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
} */

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #212529;
}
#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
  background-color: #fed136;
  border: 0;
}
#mainNav .navbar-brand {
  color: #fed136;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
#mainNav .navbar-brand img {
  height: 1.5rem;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffe600;
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
  #mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}
body {
  overflow-x: hidden;
}
.navbar {
  z-index: 2;
}
.header-p {
  font-weight: 700;
}
.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}
.masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}
.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #0b0b13;
  z-index: 0;
  opacity: 0.6;
}
.header-content {
  z-index: 1;
  margin: auto;
  text-align: center;
}
.paragraph {
  font-size: 20px;
}
.page-section {
  padding: 6rem 0;
}
.page-section h2.section-heading {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.page-section h3.section-subheading {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}
.section-heading {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
.section-subheading {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}
.text-justify {
  text-align: justify !important;
}

#legalitas
  .legalitas-item
  .legalitas-link
  .legalitas-hover
  .legalitas-hover-content {
  font-size: 1.25rem;
  color: #fff;
}
#legalitas .legalitas-item {
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
}
#legalitas .legalitas-item .legalitas-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#legalitas .legalitas-item .legalitas-link .legalitas-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 217, 0, 0.493);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#legalitas .legalitas-item .legalitas-link:hover .legalitas-hover {
  opacity: 1;
}
#legalitas
  .legalitas-item
  .legalitas-link:hover
  .legalitas-hover
  .legalitas-hover-content {
  transform: rotate(180deg);
  transition: 0.5s;
}
#legalitas
  .legalitas-item
  .legalitas-link
  .legalitas-hover
  .legalitas-hover-content {
  transform: rotate(0deg);
  transition: 0.5s;
}
#legalitas .legalitas-item .legalitas-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: gold !important;
}
#legalitas .legalitas-item .legalitas-caption .legalitas-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#legalitas .legalitas-item .legalitas-caption .legalitas-caption-subheading {
  font-style: italic;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.legalitas-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.legalitas-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.legalitas-modal .modal-content .close-modal {
  transform: rotate(45deg);
  transition: 0.5s;
}
.legalitas-modal .modal-content .close-modal:hover {
  transform: rotate(225deg);
}
.legalitas-modal .modal-content h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
}
.legalitas-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.legalitas-modal .modal-content p {
  margin-bottom: 2rem;
}
.legalitas-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.legalitas-modal .modal-content img {
  margin-bottom: 2rem;
}
.legalitas-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.legalitas-modal .close-modal:hover {
  opacity: 0.3;
}
.btn-tell {
  transition: 0.5s;
}
.production {
  margin-bottom: 3rem;
  text-align: center;
}
.production img {
  width: 14rem;
  height: 14rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.production h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}
